html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #314a52;
	color: #dee0f1;
}
.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.topnav {
	z-index: 1000;
	position: fixed;
	width: 100%;
	border-top: 10px solid #5b5d8f;
	border-bottom: 5px solid #5b5d8f;
	background-color: #bfc3db;
	display: flex;
	color: #f2f2f2;
	padding: 10px 10px;
	font-size: 25px;
}
.topnav a:hover {
	background-color: #dee0f1;
	color: #5b5d8f;
}
.page{
	padding-top: 120px;
}

#nom{
	text-decoration: underline;
}
.menu{
	transition: background .5s ease-in;
	margin: auto;
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 10px;
	border-radius: 10px;
	font-size: 25px;
}
#moi{
	display: block;
	margin: auto;
	border-radius: 10%;
	height: 10rem;
}
p{
	font-size: 50px;
}
#postext{
	display: flex;
	border-bottom: 20px solid #5b5d8f;
	padding-bottom: 25px;
}
#texte{
	margin: auto;
	border: 3px solid #5b5d8f;
	text-align: justify;
	width: 70%;
	font-size: 1.6rem;
	border-radius: 20px;
	padding: 20px;
}
.liste{
	flex-wrap: wrap;
	display: flex;
	padding-bottom: 40px;
	margin: 20px 2px 0px 2px
}
.titre{
	margin-top:10px;
	text-align: center;
	color: #bfc3db;
	font-size: 50px;
}
.elementliste{
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
	font-size: 50px;
	cursor: default;
	user-select: none;
}
.fleche{
	user-select: none;
	text-decoration: none;
	color: #dee0f1;
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
	font-size: 50px;
	cursor: default;
}
.elementliste:hover{
	background-color: #dee0f1;
	color: #5b5d8f;
	transition: background .5s ease-in;
}
#etoile{
	margin-top: 0px;
	text-align: right;
	padding-right:5px;
	font-size: 1.0rem;
	border-bottom: 20px solid #5b5d8f;
}
.listeparcours{
	flex-wrap: nowrap;
	display: flex;
	padding: 0px 5px 0px 5px;
}
.parcours{
	user-select: none;
	background-color: #1c2164;
	text-decoration: none;
	color: #dee0f1;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	font-size: 40px;
	cursor: default;
	text-align: center;
}
.parcours:hover{
	background-color: green;
	transition: background .5s ease-in;
}
#contact{
	border-top: 20px solid #5b5d8f;
	padding-top: 20px;
}
#pdf{
	text-align: center;
	padding-top: 20px;
	border-top: 20px solid #5b5d8f;
}
#boutonpdf{
	cursor: pointer;
}
:target::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
}
