html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #314a52;
	color: #dee0f1;
}
.topnav {
	flex-wrap: wrap;
	position: fixed;
	width: 100%;
	border-bottom: 0.3em solid #1c2164;
	background-color: #2B3F46;
	display: flex;
	color: #f2f2f2;
	padding: 0.5em 0.5em;
	font-size: 1rem;
}
.topnav a:hover {
	background-color: #dee0f1;
	color: #5b5d8f;
}
.page{
	padding-top: 7em;
}
	.menu{
		transition: background .5s ease-in;
		margin: auto;
		text-decoration: none;
		background-color: #1c2164;
		color: #dee0f1;
		padding: 0.5em;
		border-radius: 0.5em;
		font-size: 1em;
	}
	
	#nom{
		height: 100vh;
	}
		#moi{
			display: block;
			margin: auto;
			border-radius: 10%;
			width: 20%;
		}
		#bas{
			text-decoration: none;
			color: #bfc3db;
			font-size: 3rem;
			padding-top: 25vh;
			margin: 0 auto;
			display: block;
			text-align: center;
		}
		
	#apropos{
		border-bottom: 1rem solid #5b5d8f;
		margin-top: 2rem;
	}
		#postext{
			display: flex;
			padding-bottom: 2rem;
		}
		#texte{
			margin: 2rem;
			border: 3px solid #5b5d8f;
			text-align: justify;
			width: 100%;
			font-size: 200%;
			border-radius: 20px;
			padding: 0.5rem;
		}
		
	#competences{
		border-bottom: 1rem solid #5b5d8f;
		margin-top: 2rem;
	}
	
	#parcours{
		border-bottom: 1rem solid #5b5d8f;
		margin-top: 2rem;
	}
	
	#contact{
		border-bottom: 1rem solid #5b5d8f;
		margin-top: 2rem;
	}
	
	#pdf{
		text-align: center;
		margin-top: 2rem;
		border-bottom: 1rem solid #5b5d8f;
	}
	
		.liste{
			flex-wrap: wrap;
			display: flex;
			padding-bottom: 40px;
			margin: 20px 2px 0px 2px
		}
		.titre{
			margin-top:10px;
			text-align: center;
			color: #bfc3db;
			font-size: 50px;
		}
		.elementliste{
			text-decoration: none;
			background-color: #5b5d8f;
			color: #dee0f1;
			padding: 20px;
			margin: 20px auto;
			border-radius: 10px;
			font-size: 50px;
			cursor: default;
			user-select: none;
		}
		.fleche{
			user-select: none;
			text-decoration: none;
			color: #dee0f1;
			padding: 20px;
			margin: 20px auto;
			border-radius: 10px;
			font-size: 50px;
			cursor: default;
		}
		.elementliste:hover{
			background-color: #dee0f1;
			color: #5b5d8f;
			transition: background .5s ease-in;
		}
		#etoile{
			margin-top: 0px;
			text-align: right;
			padding-right:5px;
			font-size: 1.5rem;
		}
		.listeparcours{
			flex-wrap: wrap;
			display: flex;
			padding: 0px 5px 0px 5px;
		}
		.parcours{
			user-select: none;
			background-color: #1c2164;
			text-decoration: none;
			color: #dee0f1;
			padding: 20px;
			margin: auto;
			border-radius: 10px;
			font-size: 50px;
			cursor: default;
			text-align: center;
		}
		.parcours:hover{
			background-color: green;
			transition: background .5s ease-in;
		}
		#boutonpdf{
			cursor: pointer;
		}
:target::before {
    content: '';
    display: block;
    height: 5.5rem;
    margin-top: -5.5rem;
}
@media screen and (max-width: 565px) {
	.topnav{
		display: none;
	}
	.parcours, .topnav, .elementliste{
		font-size: 8vw;
	}
	.parcours{
		flex-basis: 100%;
		margin-bottom: 1rem;
	}
	#moi{
		width: 80%;
	}
	.page{
		padding-top: 0px;
	}
}
