html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #314a52;
	color: #dee0f1;
}
.topnav {
	position: fixed;
	width: 100%;
	border-bottom: 5px solid #1c2164;
	background-color: #2B3F46;
	display: flex;
	color: #f2f2f2;
	padding: 10px 10px;
	font-size: 156%;
}
.topnav a:hover {
	background-color: #dee0f1;
	color: #5b5d8f;
}
.page{
	padding-top: 750%;
}

#nom{
	text-decoration: underline;
}
.menu{
	transition: background .5s ease-in;
	margin: auto;
	text-decoration: none;
	background-color: #1c2164;
	color: #dee0f1;
	padding: 10px;
	border-radius: 10px;
	font-size: 156%;
}
#moi{
	display: block;
	margin: auto;
	border-radius: 10%;
	width: 20%;
}
p{
	font-size: 312%;
}
#postext{
	display: flex;
	border-bottom: 125% solid #5b5d8f;
	padding-bottom: 156%;
}
#texte{
	margin: auto;
	border: 3px solid #5b5d8f;
	text-align: justify;
	width: 70%;
	font-size: 200%;
	border-radius: 5%;
	padding: 5%;
}
.liste{
	flex-wrap: wrap;
	display: flex;
	padding-bottom: 40px;
	margin: 125% 2px 0px 2px
}
.titre{
	margin-top:10px;
	text-align: center;
	color: #bfc3db;
	font-size: 50px;
}
.elementliste{
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 125%;
	margin: 125% auto;
	border-radius: 10px;
	font-size: 50px;
	cursor: default;
	user-select: none;
}
.fleche{
	user-select: none;
	text-decoration: none;
	color: #dee0f1;
	padding: 125%;
	margin: 125% auto;
	border-radius: 10px;
	font-size: 50px;
	cursor: default;
}
.elementliste:hover{
	background-color: #dee0f1;
	color: #5b5d8f;
	transition: background .5s ease-in;
}
#etoile{
	margin-top: 0px;
	text-align: right;
	padding-right:5px;
	font-size: 1.0rem;
	border-bottom: 125% solid #5b5d8f;
}
.listeparcours{
	flex-wrap: nowrap;
	display: flex;
	padding: 0px 5px 0px 5px;
}
.parcours{
	user-select: none;
	background-color: #1c2164;
	text-decoration: none;
	color: #dee0f1;
	padding: 125%;
	margin: auto;
	border-radius: 10px;
	font-size: 40px;
	cursor: default;
	text-align: center;
}
.parcours:hover{
	background-color: green;
	transition: background .5s ease-in;
}
#contact{
	border-top: 125% solid #5b5d8f;
	padding-top: 125%;
}
#pdf{
	text-align: center;
	padding-top: 125%;
	border-top: 125% solid #5b5d8f;
}
#boutonpdf{
	cursor: pointer;
}
:target::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
}
