html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #314a52;
	color: #dee0f1;
}
.topnav {
	z-index: 1000;
	position: fixed;
	width: 100%;
	border-top: 10px solid #5b5d8f;
	border-bottom: 5px solid #5b5d8f;
	background-color: #bfc3db;
	display: flex;
	color: #f2f2f2;
	padding: 10px 10px;
	font-size: 25px;
}
.topnav a:hover {
	background-color: #dee0f1;
	color: #5b5d8f;
}
.page{
	padding-top: 120px;
}

#nom{
	text-decoration: underline;
}
.menu{
	transition: background .5s ease-in;
	margin: auto;
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 10px;
	border-radius: 10px;
	font-size: 25px;
}
#moi{
	border-radius: 10%;
	margin-right: 5vh;
	height: 30vh;
	float: left;
	margin-left: 5vh;
}
.apropos{
	display: inline-block;
	border-bottom: 20px solid #5b5d8f;
	width: 100%;

}
p{
	font-size: 50px;
}
#texte{
	border: 3px solid #5b5d8f;
	display: flex;
	text-align: justify;
	width: 70%;
	font-size: 25px;
	border-radius: 20px;
	padding: 20px;
}
.liste{
	flex-wrap: wrap;
	display: flex;
	padding-bottom: 40px;
}
.titre{
	margin-top:10px;
	text-align: center;
	color: #bfc3db;
	font-size: 50px;
}
.elementliste{
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 20px;
	margin: 20px auto;
	border-radius: 10px;
	font-size: 50px;
	cursor: default;
}
.elementliste:hover{
	background-color: #dee0f1;
	color: #5b5d8f;
	transition: background .5s ease-in;
}
#etoile{
	margin-top: 0px;
	text-align: right;
	padding-right:5px;
	font-size: 20px;
	border-bottom: 20px solid #5b5d8f;
}
#pdf{
	border-top: 20px solid #5b5d8f;
}
#boutonpdf{
	cursor: pointer;
}
:target::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
}
