html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #314a52;
	color: #dee0f1;
}
.topnav {
	display: none;
}
.page{
	padding-top: 15px;
}

#nom{
	text-decoration: underline;
}
#moi{
	display: none;
}
.apropos{
	display: inline-block;
	border-bottom: 5px solid #5b5d8f;

}
p{
	font-size: 30px;
}
#texte{
	border: 3px solid Gray;
	display: flex;
	text-align: justify;
	width: 90%;
	font-size: 20px;
}
.liste{
	flex-wrap: wrap;
	display: flex;
	padding-bottom: 40px;
}
.titre{
	margin-top:10px;
	text-align: center;
	color: #bfc3db;
	font-size: 30px;
}
.elementliste{
	text-decoration: none;
	background-color: #5b5d8f;
	color: #dee0f1;
	padding: 5px;
	margin: 5px auto;
	border-radius: 10px;
	font-size: 20px;
	cursor: default;
}
.elementliste:hover{
	background-color: #dee0f1;
	color: #5b5d8f;
	transition: background .5s ease-in;
}
#etoile{
	margin-top: 0px;
	text-align: right;
	padding-right:5px;
	font-size: 5px;
	border-bottom: 5px solid #5b5d8f;
}
#pdf{
	display: none;
}
#boutonpdf{
	display: none;
}
:target::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
}